body{
    margin: 0;
    
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divrbtn{
    margin-bottom: 10px;
}
form{
    border: 1px solid black;
    padding: 15px;
    border-radius: 1%;
    background-color: gainsboro;
}
p{
    position: absolute;
    top: 0;
}